.homeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeLeftContainer {
    width: 20%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.homeRightContainer {
    width: 78%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #caeaf8;
}